body {
    background-color: #370617;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

 .orange-box {
    width: 500px;
    height: 160px;
    background-color: #F48C06;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex
    justify-content: center;
    align-items: center;
    position: relative;
}

.red-box {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
}