body {
    background-color: #370617;
}



.container {
    width: 486px;
    height: 160px;
    background-color: #F48C06;
    display: flex;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}