body {
    background-color: #370617;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 1100px;
}

 .orange-box1 {
    width: 468px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
    gap: 20px;
}

.orange-box2 {
    width: 468px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 20px;
}

.orange-box3 {
    width: 468px;
    height: 160px;
    margin: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.orange-box4 {
    width: 468px;
    height: 160px;
    margin: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 20px;
}

.orange-box5 {
    width: 468px;
    height: 160px;
    margin: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 20px;
}

.orange-box6 {
    width: 468px;
    height: 160px;
    margin: 20px;
    background-color: #F48C06;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 20px;
}

.red-box__square1{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    position: relative;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    border-radius: 5px;
    
}

.red-box__square2{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    position: relative;
    border-radius: 5px;
    
}

.red-box__card3{
    width: 78px;
    height: 120px;
    background-color: #9D0208;
    border-radius: 5px;
    color: #FFFFFF;
     display: flex;
    align-items: center;
    justify-content: center;

}